<div>
    <h2>Chatraum</h2>
    <div class="list-group chatroom-list">
        <button *ngFor="let room of chatrooms"
            type="button" 
            class="list-group-item list-group-item-action"
            [class.active]="selectedRoom === room"
            (click)="setRoom(room)">{{room}}</button>
    </div>
    <div style="margin-top: 20px;">
        <input type="text" class="form-control" placeholder="Bitte gib den Namen des Chatraums ein" [(ngModel)]="newChatroom" />
        <br />
        <button id="send-button" class="btn btn-success" (click)="addChatroom(newChatroom)" [disabled]="!newChatroom">Chatraum hinzufügen</button>
    </div>
  </div>