<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div style="text-align:center" class="content">
  <!-- <h1>{{title}}</h1> -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <app-nickname></app-nickname>
        <br />
        <app-chatroom></app-chatroom>
      </div>
      <div class="col-sm-12 col-md-8">
        <app-chat-history style="height: 50%"></app-chat-history>
        <hr />
        <app-chat-bar style="height: 50%" class="app-chat-bar"></app-chat-bar>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>