.msg-box{
    word-wrap: break-word;
}

.scrollable-content {
    display: flex;
    flex-direction: column;

    flex-grow: 1;

    overflow: auto;
}

.left {
    float: left;
    width: 70%;
}

.right {
    float: right;
    width: 70%;
}

.no-chatroom-selected {
    background-color: lightgrey;
    height: 100%;
    text-align: center;
    padding: 150px 0;
}